*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}


body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    display: inline-block;
    background-color: black;
    color: white;
    line-height: 1.2;
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

a {
    color: #ccc;
}

h1 {
    font-size: 25px;
}

p {
    font-size: 14px;
    color: #ccc;
    justify-content: center;
}

.hd {
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 50px 50px 10px 10px;
    margin: 0;
    line-height: 1.8;
}


.fas {
    position: relative;
    font-size: 30px;
    border: ;
    margin: none;
    background-size: 50px;
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 50px;
}

.fas:hover {
    cursor: pointer;
}
  
.back-icon {
    position: absolute;
    background-color: transparent;
    display: block;
    margin: 15px;
    left: 20px;
    width: 40px;
    height: 40px;
    color: white;
    cursor: pointer;
}

.onboarding-container{
    width: 100%;
    max-width: 400px;
    line-height: 2;
    text-align: center;
    padding: 0;
    margin: 60px auto;
    align-items: center;
    justify-content: center;
}

.onboarding img{
    width: 100%;
    display: block;
    margin: 0 auto 20px;
}

.container {
    width: 85%;
    max-width: 400px;
    margin:  50px auto;
    line-height: 1.2;
    padding: 20px;
    justify-content: center;
}

.slider {
    position: relative;
    overflow: hidden;
}

.slide {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.slide.active {
    display: flex;
}

.navigation {
    margin-top: 60px;
    line-height: 1.2;
    display: block;
    justify-content: space-between;
}

button {
    width: 100%;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

a.btn1.skip {
    display: inline-block;
    margin-top: 20px;
    color: black;
    text-decoration: none;
}

a.btn1.skip:hover {
    text-decoration: underline;
}

.form-group {
    line-height: 2;
    margin-bottom: 20px;
}

label {
    font-size:16px;
    display: block;
    margin-bottom: 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px 40px 10px 5px;
    font-size: 15px;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

input[type="tel"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    top: 50%;
    left: 10px;
    color: black;
    border: none;
}

.country {
    border: none;
    cursor: pointer;
}

.phone-input {
    overflow: hidden;
    position: relative;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
}

.password-wrapper {
   position: relative;
}

.password-wrapper #toggle-password {
    position: absolute;
    top: 25%;
    right: 5px;
    color: black;
    cursor: pointer;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.term {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 20px 0;
    line-break: loose;
    line-height: 1.2;
}

.term label {
    padding-left: 8px;
}


.termpla {
    position: relative;
    padding-top: 35px;
    line-height: 1.2;
}

.pt {
    display: flex;
    align-item: center;
    justify-content: space-between;
    gap: 5px;
    margin-top: 20px;
    color: black;
}

.switch-to-login,
.rel {
    font-weight: 600;
    color: black;
}

input[type='checkbox'] {
    cursor: pointer;
    margin-right: 8px;
}

.remember-forgot a {
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.foot {
    padding-top: 50px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color:black;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(99%);
}

.signup {
    color: black;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.signup a {
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}


@media (min-width: 768px) {
    .fa-thin.fa-circle-chevron-left {
        font-size: 48px; 
    }

    header {
        padding: 25px;
    }

    .container {
        padding: 15px;
    }
}
